<div class="row">
    <div class="col">
        <h1><b>Cotizacion</b></h1>

        <input type="button" class="btn btn-primary" (click)="abrirLineItem()" value="Agregar">

        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="text-left align-middle">#</th>
                    <th scope="col" class="text-left align-middle">Descripcion</th>
                    <th scope="col" class="text-left align-middle">Item</th>
                    <th scope="col" class="text-left align-middle">Cantidad</th>
                    <th scope="col" class="text-left align-middle">Precio</th>
                    <th scope="col" class="text-left align-middle">Action</th>
                </tr>
            </thead>
            <tbody *ngFor="let lineItem of lineItems; let i=index">
                <tr>
                    <th scope="row" class="text-left align-middle">{{i + 1}}</th>
                    <td class="text-left align-middle">{{lineItem.descripcion}}</td>
                    <td class="text-left align-middle">{{lineItem.item}}</td>
                    <td class="text-left align-middle">{{lineItem.cantidad}}</td>
                    <td class="text-left align-middle">{{lineItem.precio}}</td>
                    <td class="text-left align-middle"><button class="btn btn-secondary btn-sm mr-1" (click)="editarLineItem(i)"><i class="fas fa-edit fa-1x"></i></button>
                        <button class="btn btn-danger btn-sm mr-1" (click)="removerLineItem(i)"><i class="fas fa-trash fa-1x"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>