<div class="row">
    <div class="col-xl-3 col-sm-6 p-2">
        <div class="card card-common">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <i class="fas fa-users fa-3x"></i>
                    <div class="text-right text-secondary">
                        <h5>Clientes</h5>
                        <p>Some text will go here</p>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <div class="text-secondary">
                    <i class="fas fa-sync mr-3"></i>
                    <span>Update Now</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-sm-6 p-2">

        <div class="card card-common">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <i class="fas fa-car fa-3x"></i>
                    <div class="text-right text-secondary">
                        <h5>Vehiculo</h5>
                        <p>Some text will go here</p>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <div class="text-secondary">
                    <i class="fas fa-sync mr-3"></i>
                    <span>Update Now</span>
                </div>
            </div>
        </div>

    </div>


    <div class="col-xl-3 col-sm-6 p-2">

        <div class="card card-common">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <i class="fas fa-money-bill-alt fa-3x"></i>
                    <div class="text-right text-secondary">
                        <h5>Cotizacion</h5>
                        <p>Some text will go here</p>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <div class="text-secondary">
                    <i class="fas fa-sync mr-3"></i>
                    <span>Update Now</span>
                </div>
            </div>
        </div>

    </div>


    <div class="col-xl-3 col-sm-6 p-2">

        <div class="card card-common">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <i class="fas fa-wrench fa-3x"></i>
                    <div class="text-right text-secondary">
                        <h5>Ordenes</h5>
                        <p>Some text will go here</p>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <div class="text-secondary">
                    <i class="fas fa-sync mr-3"></i>
                    <span>Update Now</span>
                </div>
            </div>
        </div>

    </div>



    <div class="col-xl-3 col-sm-6 p-2">

        <div class="card card-common">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <i class="fas fa-dollar-sign fa-3x"></i>
                    <div class="text-right text-secondary">
                        <h5>Factura</h5>
                        <p>Some text will go here</p>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <div class="text-secondary">
                    <i class="fas fa-sync mr-3"></i>
                    <span>Update Now</span>
                </div>
            </div>
        </div>

    </div>


    <div class="col-xl-3 col-sm-6 p-2">

        <div class="card card-common">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <i class="fas fa-chart-line fa-3x"></i>
                    <div class="text-right text-secondary">
                        <h5>Inventario</h5>
                        <p>Some text will go here</p>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <div class="text-secondary">
                    <i class="fas fa-sync mr-3"></i>
                    <span>Update Now</span>
                </div>
            </div>
        </div>

    </div>


    <div class="col-xl-3 col-sm-6 p-2">

        <div class="card card-common">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <i class="fas fa-history fa-3x"></i>
                    <div class="text-right text-secondary">
                        <h5>Historial</h5>
                        <p>Some text will go here</p>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <div class="text-secondary">
                    <i class="fas fa-sync mr-3"></i>
                    <span>Update Now</span>
                </div>
            </div>
        </div>
    </div>
</div>