<div class="row">
    <div class="col">
        <h1><b>Clientes</b></h1>

        <button class="btn btn-primary mx-md-2" (click)="abrirAgregarModal()">Agregar</button>


        <!-- List of clients as cards -->
        <div class="row">
            <div class="col-lg-4 col-md-6" *ngFor="let cliente of clientes; index as i">
                <div class="card card-common my-2">
                    <div class="card-body">
                        <div class="card-title">{{cliente.nombre}}</div>
                        <div class="card-text">{{cliente.direccion}}</div>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-sm btn-secondary" (click)="editarCliente(i)">Editar</button>

                        <button type="button" class="btn btn-sm btn-danger mx-2"
                            (click)="removerCliente(i)">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of list of clients -->


    </div>
</div>