<div class="row">
    <div class="col">
        <h1><b>Clientes</b></h1>

        <button type="button" class="btn btn-primary mx-md-2" data-toggle="modal"
            data-target="#agregar-cliente">Agregar</button>

<!-- Modal for adding clients -->
        <div class="modal" id="agregar-cliente">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Agregar Cliente:</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-md-2 mx-md-2" for="nombre">Nombre</label>
                            <input class="form-control col-md-9 mx-md-2" type="text" name="nombre" id="nombre"
                                placeholder="Entrar Nombre" aria-describedby="helpId" [(ngModel)]="nombre">
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 mx-md-2" for="direccion">Direccion</label>
                            <input class="form-control col-md-9 mx-md-2" type="text" name="direccion" id="direccion"
                                placeholder="Entrar Direccion" aria-describedby="helpId" [(ngModel)]="direccion">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-sm btn-primary" (click)="agregarCliente()" data-dismiss="modal">Guardar</button>
                        <button class="btn btn-sm btn-danger" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
<!-- end of modal for adding clients -->


<!-- List of clients as cards -->
        <div class="row">
            <div class="col-lg-4 col-md-6" *ngFor="let cliente of clientes; index as i">
                <div class="card card-common my-2">
                    <div class="card-body">
                        <div class="card-title">{{cliente.nombre}}</div>
                        <div class="card-text">{{cliente.direccion}}</div>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-sm btn-secondary">Editar</button>
                        <button type="button" class="btn btn-sm btn-danger mx-2" 
                            (click)="removerCliente(i)">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
<!-- end of list of clients -->

    </div>
</div>